body{
    margin: 0;
    background-color: rgb(0, 0, 0);
}



nav{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: rgb(155, 7, 7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}


#icon{
width: 85px;
}

.Notícia{
background-color: rgb(44, 41, 36);
color: white;
border: 5px solid black;
}

.img_noticia{
width: 400px;
}