body {
    margin: 0;
    background-color: rgb(0, 0, 0);
}



.parte_de_cima {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(155, 7, 7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}

.parte_da_escalação {
    background-color: rgb(24, 24, 24);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 50px;
    color: white;
    align-items: center;
}

.parte_da_escalação h2 {
    text-align: center;
   
}

#icon {
    width: 85px;
}

.Notícia {
    margin: 15px 15px;
    background-color: rgb(44, 41, 36);
    color: whitesmoke;
    border: 3px solid rgb(255, 255, 255);
}



.img_noticia {
    width: 100%;
    height: 320px;
    object-fit: cover;
}



#Notícias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 10px;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: rgb(155, 7, 7);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



.img_escalação {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 30px;
    margin-top: 50px;
    border-radius: 10px;
}

#escalação {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    color: white;
    font-size: 18px;
}

.gif_fixo {  
    position: fixed;
    bottom: 20px;      
    right: 20px;      
    width: 100px;           
}