body{
    margin: 0;
    background-color: rgb(0, 0, 0);
}



nav{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    background-color: rgb(155, 7, 7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}


#icon{
width: 85px;
}

.Notícia{
    margin: 10px;
background-color: rgb(44, 41, 36);
color: whitesmoke;
border: 3px solid rgb(255, 255, 255);
}



.img_noticia{
width: 400px;
}



#Notícias{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 20px;
  padding: 10px;
}

footer{
    padding: 10px;
    text-align: center;
    background-color: rgb(155, 7, 7);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}